@charset "UTF-8";

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Black.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.container img.logo {
    margin-top: 20px;
}

/* #e0e2e5*/
#shortenform #urlshort {
    padding: 8px;
    outline: none;
    border: 1px solid #dadce0;
    border-radius: 5px;
    width: 450px;
    font-weight: bold;
}

#shortenform #urlshort:focus {
    border: 1px solid #4285f4;
}

.container #shrtbtn {
    padding: 8px;
    outline: none;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    margin-left: 3px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bolder;
    color: #3c4043;
    background-color: #f8f9fa;
}

.container #shrtbtn:hover {
    border: 1px solid #e0e2e5;
    color: #252729;
}

#options-url label {
    margin-right: 5px;
    font-size: 14px;
}

#btn-optionsurl {
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin:0 auto;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-bottom: 3px;
}

#btn-optionsurl:hover {
    text-decoration: underline;
}

#options-url {
    margin-top: 15px;
    margin-bottom: 10px;
}

#options-url input[type="text"] {
    padding: 5px;
    outline: none;
    border: 1px solid #dadce0;
    border-radius: 4px;
}

#options-url input[type="text"]:focus {
    border: 1px solid #4285f4;
}

.hide {
    display: none;
}

.title_box {
    font-size: 13px;
    font-weight: 600;
    color: #3c4043;
}

section{
    margin-top: 90px;
}

#history_title {
    text-align: left;
    margin-bottom: 8px;
    margin-left: 13px;
}

article {
    text-align: left;
}


article.links {
    background-color: #f8f8fc;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
}

.links .time_link {
    font-size: 12px;
    font-weight: 600;
    padding:2px 0px 1px 0px;
    color: #677483;
}
/* #f6f8f9 */

.links h2 {
	display: block;
	width: 100%;
}

.links h2 a {
    font-size: 16px;
    padding:1px 0px 1px 0px;
    text-decoration: none;
    color: #2f363d;
}

.links a.origin-link {
    text-decoration: none;
    color: #494f55;
    font-size: 13px;
}

/* .menu_box {
    display: flex;
    width: 50vw;
    margin-top: 10px;
} */

.menu-box  {
    display: flex;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.menu-box ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu-box ul li a {
    margin-right: 23px;
    font-size: 12px;
    padding: 4px;
    text-decoration: none;
    color: #ee6123;
    border: 1px solid #ee6123;
    border-radius: 4px;
    font-weight: 600;
    margin: 0px 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.menu-box ul li span {
    font-size: 14px;
    font-weight: 600;
    color: #ee6123;
    margin-left: 4px;
}

/* .shortlink {
    font-size: 14px;
    color: orange;
    padding:2px 0px 5px 0px;
    font-weight: 600;
} */

.clicks_cnt {
    padding:12px 0px 2px 0px; 
    cursor: pointer;
}